@use "global" as *;

.anchor {
  height: 20vh;
  background-color: green;
}
.anchor2 {
  height: 80vh;
  background-color: red;
}
.anchor3 {
  height: 95vh;
  background-color: yellow;
}
.anchor4 {
  height: 60vh;
  background-color: rgb(43, 67, 92);
}
