@use "global" as *;

.container {
  width: 100%;
  padding: 100vh 20px;
}

.human {
  background: url(../../assets/images/gsap/human.svg) center center no-repeat;
  background-size: contain;
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 514 / 1031;
}
.image-wrap {
  display: block;
  position: absolute;
  top: 18%;
  left: calc(77% - 200px);
}
// .desc {
//   position: absolute;
//   top: 50%;
//   right: 0;
//   background: #b35656;
//   width: 100%;
//   white-space: nowrap;
// }
.heart-point {
  width: rem(50);
  position: absolute;
  top: 24%;
  right: 262px;
  background-color: pink;
  border-radius: 50%;
  display: block;
  width: rem(50);
  aspect-ratio: 1;
}
.heart {
  width: rem(100);
  // position: absolute;
  // top: 24%;
  // left: calc(49% - 200px);
}
.desc {
  position: absolute;
  right: -304px;
  top: 0;
  white-space: nowrap;
  background: #f9f9f9;
  padding: rem(16);
  border: solid 1px #3333;
}
.circle {
  width: 100px;
  height: 100px;
  margin: 40px 0;
  border-radius: 50%;
}
.yellow {
  background-color: #f5bc37;
}
.orange {
  background-color: #e7573c;
}
.green {
  background-color: #75c4af;
}
.navy {
  background-color: #455f7f;
}
.gray {
  background-color: #b4b5b5;
}
.animation-area {
  width: 100%;
  padding: 100vh 20px;
}
.note {
  font-size: 24px;
}
.box {
  width: 100px;
  height: 100px;
  margin: 40px 0;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.green {
  background-color: green;
}
