@use 'global' as *;

.p-table__item {
  margin-bottom: 56px;
}

.p-table__item h3 {
  color: #1958BC;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.35;
  padding: 10px;
}

.p-table__item dl {
  display: flex;
  width: 100%;
}

.p-table__item dt, 
.p-table__item dd { 
  padding: 15px 15px 15px 30px;

}

.p-table__item dt {
  width: 35%;
  background-color: #1958BC;
  color: #fff;
}

.p-table__item dd {
  width: 65%;
  border-top: solid 1px #1958BC;
  border-bottom: solid 1px #1958BC;
  border-right: solid 1px #1958BC;
}

/* case 事例 詳細 */

.p-table {
  display: table;
  border-collapse:collapse; 
  width: 100%;
}

.p-table__item {
  margin-bottom: 56px;
}

.p-table__item h3 {
  color: #1958BC;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.35;
  padding: 10px;
}

.p-table__item-wrap {
  display: flex;
  width: 100%;
}

.p-table__item-title, 
.p-table__item-desc { 
  padding: 15px 15px 15px 30px;
  display: table-cell;
}

.p-table__item-title {
  width: 35%;
  background-color: #1958BC;
  color: #fff;
  border-bottom: solid 1px #fff;
}

.p-table__item-wrap:nth-of-type(1) .p-table__item-title {
  border-top: solid 1px #1958BC;
}

.p-table__item-wrap:last-child .p-table__item-title {
  border-bottom: solid 1px #1958BC;
}

.p-table__item-wrap:nth-of-type(1) .p-table__item-desc {
  border-top: solid 1px #1958BC;
}

.p-table__item-desc {
  width: 65%;
  border-right: solid 1px #1958BC;
  border-bottom: solid 1px #1958BC;
}