@use "global" as *;
.prev-next {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination {
  clear: both;
  justify-content: center;
}

.nav-links {
  margin-top: 30px;
  text-align: center;
}

.page-numbers a,
.page-numbers .current,
.pagination a,
.pagination .current {
  display: inline-block;
  width: 43px;
  height: 38px;
  border-radius: 5px;
  padding: 2px 9px 1px;
}

.page-numbers a,
.pagination a {
  background: #009944;
  border: 1px solid #009944;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.pagination a:hover,
.pagination .current {
  background: #fff;
  border: 1px solid #009944;
  color: #009944;
}
