@use "global" as *;
.l-flex {
  @include mq("md") {
    display: flex;
  }
}
.l-flex__main {
  width: 100%;
  @include mq("md") {
    width: calc(100% - 240px);
    margin-right: rem(80);
  }
}

.l-flex__aside {
  flex: 1;
  width: 100%;
  @include mq("md") {
    min-width: rem(240);
  }
}
